* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --nav-height: 4rem;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.test {
  background-color: red;
  border: 1px solid blue;
}